body
{
    background-image: url(back.png);
    background-repeat: repeat-x;
    background-color: #eee;
    color: #333;
    font-size: 10pt;
}

#page
{
}

body, h1, h2, h3, h4, h5, h6
{
    font-family: 'Open Sans', Sans-Serif;
}

h1 a, h1 a:visited,
h2 a, h2 a:visited
{
    color: #333;
}

a, a:visited
{
    text-decoration: none;
    color: #333340;
}

a:hover
{
    text-decoration: underline;
}

/* Main Navigation
==================================================*/

#navbar
{
    margin-top: 0px;
    margin-bottom: 20px;
    background-image: url(/Content/background.jpg);
    background-repeat: no-repeat;
    height: 180px;
    text-align: right;
}

@media only screen and (max-width: 959px)
{
    #navbar
    {
        background-position: -70px;
    }
}


#navbar ul li
{
    display: inline-block;
    list-style: none;
}

#navbar a
{
    color: #f0f0f0;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 90px;
    text-align: center;
    background: #032; /* Old browsers */
        background: #032 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
        background: #333340 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: #032 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
        background: #032 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #032 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
}

#navbar a:hover, #navbar a.activeSection
{
    background-color: #032;
    background: #032; /* Old browsers */
        background: #032 -moz-linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* FF3.6+ */
        background: #333340 -webkit-linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: #032 -o-linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* Opera11.10+ */
        background: #032 -ms-linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* IE10+ */
    background: #032 linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* W3C */
}

#navbar li:first-child a
{
    border-radius: 0px 0px 0px 3px;
}

#navbar li:last-child a
{
    borrder-radius: 0px 0px 3px 0px;
}

@media only screen and (max-width: 767px)
{
    #navbar a
    {
        font-size: 8pt;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.block
{
    margin-bottom: 50px;
}

/* Page Header
==================================================*/

.pageHeader
{
    border-bottom: 1px solid #a0a0a0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pageHeader h1
{
    font-family: 'Times New Roman', Serif;
    letter-spacing: 15px;
    color: #335;
    font-size: 60px;
}

@media only screen and (max-width: 479px)
{
    .pageHeader h1
    {
        font-size: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px)
{
    .pageHeader h1
    {
        font-size: 40px;
    }
}

/* Page Footer
==================================================*/

#pageFooter
{
    text-align: left;
    color: #a0a0a0;
    font-size: 8pt;
    margin-top: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}


/* Entries
==================================================*/

.entry
{
    background-color: #ddd;
    border-radius: 3px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.entry .entryHeader
{
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f0f0f0;
    border-radius: 3px 3px 0px 0px;
    background: #333340; /* Old browsers */
        background: #333340 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
        background: #333340 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: #333340 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
        background: #333340 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #333340 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
}

.entry .entryHeader a
{
    color: #f0f0f0;
}

.entry .entryHeader .moreLink
{
    float: right;
}

.entry header
{
    padding: 10px 10px 0px 10px;
}

.entry h1
{
    border-bottom: 1px solid #a0a0a0;
    line-height: normal;
    font-size: 12pt;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0px;
}

.entry h2
{
    font-size: 15pt;
    font-weight: 400;
}

.entry .content
{
    padding: 10px 10px 10px 10px;
}

.entry footer
{
    clear: both;
    border-top: 1px solid #a0a0a0;
    margin: 0px 10px 0px 10px;
    font-size: 8pt;
}

.error img
{
    max-width: 100%;
}

.no-js .mapdynamic
{
    display: none;
}

.js .mapdynamic 
{
}

.no-js .mapstatic
{
}

.js .mapstatic
{
    display: none;
}

.map .content
{
    padding-top: 5px;
}

.albumSummary
{
}

@media only screen and (min-width: 767px)
{
    .albumSummary .content
    {
        height: 320px;
    }

    .positionReportSummary .content
    {
        height: 320px;
    }
}

.albumSummary .albumImage
{
    max-width: 100%;
    max-height: 250px;
}

.thumbnail
{
    height: 210px;
}

.thumbnail img
{
    max-width: 100%;
    margin-top: 10px;
}

.thumbnail .imageTitle
{
    display: block;
    padding-top: 5px;
    margin-top: 0;
    font-size: 8pt;
    height: 25px;
    overflow: hidden;
}

.post img, .postSummary img, .category img
{
    max-width: 100%;
    margin: 0px 0px 10px 10px;
    float: right;
    clear: right;
}

.post ul
{
    list-style-type: square;
    list-style-position: inside;
}

.post ul li
{
    margin-bottom: 5px;
}

.travelMap
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.timespan
{
    margin-bottom: 10px;
}


/* Comments
==================================================*/

.commentsHeader
{
    background-color: #333340;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.commentsHeader h1
{
    font-size: 14pt;
    color: #eee;
}

.commentsHeader a, .commentsHeader a:visited
{
    color: #aaa;
}

img.avatar
{
    float: none;
    clear: both;
}

.userInfo
{
    float: right;
    clear: both;
    text-align: right;
}


/* Widgets
==================================================*/

.latestComments
{
}

.latestComments ul
{
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.latestComments li
{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.categories
{
}

.categories ul
{
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.categories li
{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.tagcloud
{
}

.tagCloud ul
{
    text-align: justify;
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.tagCloud li
{
    display: inline;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.tag1
{
    font-size: 16pt;
}

.tag2
{
    font-size: 14pt;
}

.tag3
{
    font-size: 12pt;
}

.tag4
{
    font-size: 10pt;
}

.tag5
{
    font-size: 8pt;
}

.tag6
{
    font-size: 6pt;
}


/* Pager
==================================================*/

.pager
{
    border-radius: 3px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    background: #333340; /* Old browsers */
        background: #333340 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
        background: #333340 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: #333340 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
        background: #333340 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #333340 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
}

.pagerLeft
{
    display: inline;
    float: left;
}

.pagerLeft a:first-child
{
    border-radius: 3px 0px 0px 3px;
}

.pagerCounter
{
    display: inline;
    color: #eee;
    font-weight: bold;
}

.pagerRight
{
    display: inline;
    float: right;
}

.pagerRight a:last-child
{
    border-radius: 0px 3px 3px 0px;
}

.pager a
{
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    text-align: center;
    background: #445; /* Old browsers */
        background: #445 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
        background: #445 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: #445 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
        background: #445 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #445 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
}

.pager a:hover
{
    background: #445; /* Old browsers */
        background: #445 -moz-linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* FF3.6+ */
        background: #445 -webkit-linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: #445 -o-linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* Opera11.10+ */
        background: #445 -ms-linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* IE10+ */
    background: #445 linear-gradient(top, rgba(0,0,0,.2) 0%,rgba(255,255,255,.2) 100%); /* W3C */
}



/* Forms
==================================================*/

form
{
    background-color: #d0d0d0;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}

input[type="text"],
input[type="email"],
input[type="url"]
{
    display: inline-block;
    width: 200px;
}

label
{
    display: inline-block;
    width: 80px;
}

.fielddescription
{
    padding-left: 80px;
    font-size: 7pt;
}

textarea
{
    margin-top: 10px;
    padding-right: 0px;
    width: 100%;
    display: block;
}

.field-validation-error
{
    margin-left: 10px;
    font-size: 10pt;
    color: Red;
}

input[type="submit"]
{
    padding: 5px 15px 5px 15px;
    border: 1px solid grey;
    border-radius: 3px;
}

input[type="submit"]:hover
{
    border: 1px solid red;
}

input[type="submit"]:active
{
    border: 1px solid green;
}

form footer
{
    padding-top: 10px;
    text-align: right;
}

form h1
{
    border-bottom: 1px solid #a0a0a0;
    line-height: normal;
    font-size: 14pt;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}
