@using Molimentum

@{
    ViewBag.Title = "Impressum";
}

<div class="eight columns">
    <article class="entry">
        <div class="content">
            <h2>Medieninhaber</h2>
            <p>Mag. David Tischler, Wien</p>

            <h2>Erreichbarkeit</h2>
            <p>Postfach "mail" innerhalb der Domain dieser Site</p>

            <h2>Haftung</h2>
            <p>Wer Inhalte glaubt oder Links folgt ist selber schuld.</p>
        </div>
    </article>
</div>

<div class="eight columns">
    <article class="entry">
        <div class="content">
            <h2>Copyright</h2>
            <p>
                Dieses Werk von <a xmlns:cc="http://creativecommons.org/ns#" href="http://molimentum.at" property="cc:attributionName" rel="cc:attributionURL">Mag. David Tischler</a> steht unter einer <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/at/">Creative Commons Namensnennung-NichtKommerziell 3.0 Österreich Lizenz</a>.
            </p>
            <p>
                This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://molimentum.at" property="cc:attributionName" rel="cc:attributionURL">Mag. David Tischler</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/at/deed.en">Creative Commons Attribution-NonCommercial 3.0 Austria License</a>.
            </p>
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/at/"><img alt="Creative Commons Lizenzvertrag" src="http://i.creativecommons.org/l/by-nc/3.0/at/88x31.png" /></a></p>
        </div>
    </article>
</div>